<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container mt-2">
		<div class="row">


			<div th:each="song: ${songs}"
				class="col-12 col-sm-6 col-lg-3 card-q card-group">
				<div class="card mb-3">
					<a th:href="${song.video}" target="_blank"> <img
						th:src="${song.image}"
						class="card-img-top img-fluid dim"
						alt="There is no image"
						onerror="this.src='https://st4.depositphotos.com/17828278/24401/v/600/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg'">
					</a>
					<div class="card-body">
						<h6 class="card-title text-center" th:text="${song.title}"></h6>
						<p class="card-text text-muted"
							th:text="'Artist: ' + ${song.artistName}"></p>
						<p class="card-text text-muted"
							th:text="'Album: ' + ${song.album}"></p>
						<p class="card-text text-muted" th:text="'Year: ' + ${song.year}"></p>
						<p class="card-text text-muted"
							th:text="'Duration: ' + ${song.duration}"></p>
					</div>
					<div class="card-footer text-muted p-1 text-right">
						<a th:href="@{/form/}+${song.id}" class="btn btn-success btn-sm">
							<i class="fas fa-edit"></i>
						</a> <a class="btn btn-primary btn-sm"
							th:href="@{/delete/}+${song.id}"
							onclick="return confirm('Delete song?')"> <i
							class="fas fa-trash-alt"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<div th:replace="layout/layout :: scripts"></div>
</body>
</html>